.row.practical-1-list
  .col-md-4
    a(href=Link.url(page.data.articles_mis_en_avant[0].article_en_avant, ctx.linkResolver))
      .practical-1
        .practical-1-photo-container
          img.practical-1-photo(src=page.data.articles_mis_en_avant[0].image.url)
          .practical-1-illus
            i.sprpra.sprpra-vocabulary-colgate
        .practical-1-content
          .practical-1-title Vocabulaire
          .practical-1-summary
            | Afin de profiter pleinement de son séjour au Pérou, il est utile de connaître les bases de la langue espagnole. En effet, vous ser...
  .col-md-4
    a(href=Link.url(page.data.articles_mis_en_avant[1].article_en_avant, ctx.linkResolver))
      .practical-1
        .practical-1-photo-container
          img.practical-1-photo(src=page.data.articles_mis_en_avant[1].image.url)
          .practical-1-illus
            i.sprpra.sprpra-calendar-colgate
        .practical-1-content
          .practical-1-title Quand partir ?
          .practical-1-summary
            | Quand partir au Pérou ? Tout dépend de la région que vous souhaitez visiter. Vous trouverez ici de nombreux conseils pour vous aid...
  .col-md-4
    a(href=Link.url(page.data.articles_mis_en_avant[2].article_en_avant, ctx.linkResolver))
      .practical-1
        .practical-1-photo-container
          img.practical-1-photo(src=page.data.articles_mis_en_avant[2].image.url)
          .practical-1-illus
            i.sprpra.sprpra-suitcase-colgate
        .practical-1-content
          .practical-1-title Préparer sa valise
          .practical-1-summary
            | Retrouvez ici un point complet de tout ce qui doit figurer dans votre valise afin que votre voyage au Pérou&nbsp;soit parfait....